* {
  box-sizing: border-box;
  cursor: pointer;
  font-family: "roboto";
}

.top-nav {
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.nav-side {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-right: 1rem;
}

.nav-side-item {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 0.4rem;
}

.nav-side-title {
  margin-left: 0.3rem;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 20%;
}

.search-bar {
  display: flex;
  border: 1px solid rgb(255, 199, 223);
  border-radius: 10px;
  box-shadow: 5px 5px 15px pink;
  margin: 3rem;
  padding: 0 1rem;
  align-items: center;
}

.search-input {
  border: none;
  border-radius: 10px;
  width: 100%;
  outline: none;
}

.search-bar-icon {
  border: none;
  color: black;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-menu {
  display: flex;
  margin-top: 2rem;
  gap: 0.5rem;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-menu a:hover,
.nav-menu a:focus {
  text-decoration: underline;
}

.extra-info {
  color: grey;
  font-size: 13px;
}

.choice {
  height: 1.5rem;
  color: darkolivegreen;
}

.new-arrival {
  height: 1.25rem;
}

.extra-info.card-text {
  margin: 0;
}

.card-body {
  min-height: 140px;
  overflow: hidden;
  justify-content: start;
  width: 100%;
}

.card-title.h5 {
  font-size: 1rem;
}

.product-card {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card-img {
  height: 400px;
}

.price {
  font-weight: bold;
}

@media only screen and (min-width: 48rem) {
  .nav-menu {
    justify-content: center;
    align-items: center;
  }

  .top-nav {
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    position: relative;
  }

  .nav-side {
    width: 100%;
    position: relative;
    right: 0;
    margin-top: 2rem;
    margin-right: 0;
  }

  .nav-side-item {
    font-size: 1rem;
  }

  .product-list {
    row-gap: 1rem;
  }

  .card-body {
    min-height: 160px;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    display: flex;
    width: 50%;
    margin: 3rem auto;
  }

  .logo {
    justify-content: center;
    margin-left: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 64rem) {
  .search-bar {
    width: 40%;
    margin-top: 4rem;
  }

  .nav-side {
    margin-right: 0;
  }

  .card-body {
    min-height: 170px;
    justify-content: space-evenly;
  }

  .card-img {
    height: 300px;
  }
}
